.form-container {
    background-color: #ffff;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 10px 15px 15px 15px rgb(65, 64, 64);
}

.header > h2 {
    text-align: center;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-form-container {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.img-form {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-bottom: 10px;
}

.input-form {
    margin: 10px;
    color: steelblue;
}

.is-invalid {
    border: 1px solid red;
}

.new-button {
    background-color: steelblue !important;
    padding: 10px 20px 10px 20px;
    color: #ffff;
}

@media screen and (max-width: 745px) {
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}
