<div class="users-container">
  <div class="header">
    <h2>Gestion de Usuarios</h2>
  </div>
  <div *ngIf="loading === true">
    <mat-spinner></mat-spinner>
  </div>
  <div class="table-container">
    <table *ngIf="loading !== true" mat-table class="users-table" [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="#">
        <th mat-header-cell class="table-header" *matHeaderCellDef> # </th>
        <td mat-cell class="table-content" *matCellDef="let element; let i = index"> {{i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="nombres">
        <th mat-header-cell class="table-header" *matHeaderCellDef> NOMBRES </th>
        <td mat-cell class="table-content" *matCellDef="let element"> {{element.first_name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell class="table-header" *matHeaderCellDef> APELLIDOS </th>
        <td mat-cell class="table-content" *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="edad">
        <th mat-header-cell class="table-header" *matHeaderCellDef> EDAD </th>
        <td mat-cell class="table-content" *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
  
      <ng-container matColumnDef="No_identificacion">
        <th mat-header-cell class="table-header" *matHeaderCellDef> NO. IDENTIFICACION </th>
        <td mat-cell class="table-content" *matCellDef="let element"> {{element.identification_number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="correo">
        <th mat-header-cell class="table-header" *matHeaderCellDef> CORREO </th>
        <td mat-cell class="table-content" *matCellDef="let element"> {{element.mail}} </td>
      </ng-container>
  
      <ng-container matColumnDef="opciones">
        <th mat-header-cell class="table-header" *matHeaderCellDef colspan="2"> OPCIONES </th>
        <td mat-cell class="table-content" *matCellDef="let element">
          <mat-icon class="icon-button-edit" (click)="redirect('edit', element.identification_number)" aria-hidden="false"
            aria-label="Example home icon">edit</mat-icon>
          <mat-icon class="icon-button-trash" (click)="openDialog(element.identification_number)" aria-hidden="false"
            aria-label="Example home icon">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" class="new-button" (click)="redirect('new')">Nuevo</button>
  </div>
</div>