.users-container {
    background-color: #ffff;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 10px 15px 15px 15px rgb(65, 64, 64);
}

.table-container {
    display: flex;
    justify-content: center;
}

.users-table {
    padding: 0;
}

.table-header {
    background-color: steelblue;
    padding: 20px;
    color: #ffff;
}

.table-content {
    padding: 20px;
}

.icon-button-trash {
    cursor: pointer;
    color: red;
    margin: 5px;
}

.icon-button-edit {
    cursor: pointer;
    color: rgb(211, 211, 82);
    margin: 5px;
}

.new-button {
    background-color: steelblue;
    padding: 10px;
    width: 150px;
}

.button-container {
    text-align: center;
    margin: 20px 0 10px 0;
}

@media screen and (max-width: 745px) {
    .table-container {
        display: flex;
        border-top: none;
        padding: 0;
        border: 2px solid steelblue;
        justify-content: center;
        overflow-x: scroll;
    }
    
    .users-table {
        width: 200px;
    }
}