<div>
    <div class="form-container">
        <div class="header">
            <h2>Editar Persona</h2>
        </div>
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="edit()">
            <div class="img-form-container">
                <img mat-card-image class="img-form" [src]="url" alt="perfil">
                <input type="file" formControlName="avatar" (change)="onFileChange($event)">
                <mat-error *ngIf="invalidAvatar">El avatar debe ser requerido</mat-error>
            </div>
            <div class="input-container">
                <div>
                    <mat-form-field class="input-form" appearance="fill">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="first_name">
                        <mat-error *ngIf="invalidName">El nombre es requerido y como maximo 50 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-form" appearance="fill">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="last_name">
                        <mat-error *ngIf="invalidLastName">El apellido es requerido y como maximo 50 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-form" appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input matInput formControlName="age">
                    </mat-form-field>
                    <mat-form-field class="input-form" appearance="fill">
                        <mat-label>No. Identificacion</mat-label>
                        <input matInput formControlName="identification_number">
                        <mat-error *ngIf="invalidIdentification">la identificacion es requerida</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-form" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="mail">
                        <mat-error *ngIf="invalidMail">El correo no es valido</mat-error>
                    </mat-form-field>
                </div>
                <div class="button-container">
                    <button mat-raised-button color="primary" [disabled]="!form.valid" class="new-button" type="submit">Actualizar</button>
                    <button 
                        mat-raised-button 
                        color="secondary" 
                        class="cancel-button"
                        (click)="redirect()"
                    >Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>